@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/Wotfard/wotfard-regular-webfont.eot');
  src: url('/fonts/Wotfard/wotfard-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/Wotfard/wotfard-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/Wotfard/wotfard-semibold-webfont.eot');
  src: url('/fonts/Wotfard/wotfard-semibold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/Wotfard/wotfard-semibold-webfont.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Wotfard';
  src: url('/fonts/Wotfard/wotfard-bold-webfont.eot');
  src: url('/fonts/Wotfard/wotfard-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/Wotfard/wotfard-bold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Cassannet';
  src: url('/fonts/Cassannet/cassannet_plus_thin-webfont.eot');
  src: url('/fonts/Cassannet/cassannet_plus_thin-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/Cassannet/cassannet_plus_thin-webfont.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Cassannet';
  src: url('/fonts/Cassannet/cassannet_plus_light-webfont.eot');
  src: url('/fonts/Cassannet/cassannet_plus_light-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/Cassannet/cassannet_plus_light-webfont.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

html {
  background-color: rgba(219, 234, 254, 1);
}
